<h1>Añade tu sitio a compartir</h1>

<%= render 'form' %>

<script type="text/javascript">
	document.getElementById("comment_zoom").value = 12;
</script>

<div id="despuescol">
<%= link_to 'Volver atrás', "javascript:history.back()" %>
</div>
