<h1>Acerca de...</h1>
<p>Escapaditas.com es una nueva red social en la que los usuarios comparten sus experiencias con otros para convertirse en lugar de referencia para todos aquellos que buscan información sobre su próximo viaje o simplemente buscan planes interesantes en su ciudad.</p>
