

<h1>Añade tu localidad</h1>

<%= render 'form' %>

<script type="text/javascript">
	document.getElementById("site_zoom").value = 12;
</script>

<div id="despuescol">
<%= link_to '< Volver atrás', sites_path %>
</diV>
